@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
 }
 
 html{
     font-family: proxima nova, sans-serif;
 }
 
 body {
     background-image: url(images/background.png);
     background-size: cover;
     width: auto;
 }
 
 h1 {
     font-size: 35px;
 }
 
 h2 {
     font-size: 30px;
 }
 
 h3 {
     font-size: 26px;
 }

.bold {
    font-weight: 600;
}

 nav {
     width: 100%;
     height: 71px;
     background-color: white;
     align-items: center;
 }
 
 nav ul {
     float: left;
     background-color: white;
     align-items: center;
 }

 nav ul img {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 17px;
}
 
 nav ul li {
     float: left;
     list-style: none;
     position: relative;
     background-color: white;
 }
 
 nav ul li a {
     display: block;
     color: #461364;
     font-family: 'Poppins', sans-serif;
     font-size: 22px;
     padding: 18px 14px;
     text-decoration: none;
 }
 
 nav ul li ul {
     display: none;
     position: absolute;
     background-color:white;
     padding: 8px;
     border-radius: 0px 0px 4px 4px;
 }
 
 nav ul li:hover ul {
     display: block;
 }
 
 nav ul li ul li {
    width: 250px;
    border-radius: 4px;
 }
 
 nav ul li ul li a {
     padding: 6px 14px;
 }
 
 nav ul li ul li a:hover {
    background-color: rgb(199, 164, 181);
 }
 
 .right {
     float: right;
 }
 
 .right img {
     height: 35px;
     width: 35px;
     margin: 12px;
     margin-top: 18px;
     margin-bottom: 13px;
     align-items: center;
 }
 
 .presentation {
     width: 100%;
     float: left;
     margin-top: 50px;
 }
 
 .presentationWrapper {
     width: 50%;
     margin: auto;
     display: block;
     height: 250px;
     position: relative;
 }
 
 .presentationWrapper h1 {
     font-family: 'Poppins', sans-serif;
     color:  #5d3f6e;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 5px;
 }
 
 .presentationWrapper img {
     display: block;
     margin-left: auto;
     margin-right: auto
 }
 
 .profession {
     width: 80%;
     margin: auto;
 }
 
 .profession h2 {
     font-family: 'Poppins', sans-serif;
     color:  #5d3f6e;
     text-align: center;
     margin-top: 20px;
     line-height: 30px;
 }
 
 .profession p {
     margin-top: 30px;
     margin-bottom: 60px;
     color:  #5d3f6e;
     font-family: 'Comfortaa', cursive;
     line-height: 40px;
     font-size: 24px;
     text-align: justify;
     font-weight: 500;
 }

 .contact-title {
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 620px;
    margin: auto;
    padding: 10px;
}

.contact-form {
    margin-top: 25px;
    transition: all 4s ease-in-out;
}

::placeholder {
    color: white;
    opacity: 1;
    font-size: 21px;
    font-family: sans-serif;
  }
  
.contact-form input, textarea {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color:  #210133;
    font-size:22px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 16px;
}

input {
    height: 25px;
}

textarea {
    height: 200px;
}

form .submit {
    background: rgb(199, 164, 181);
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

form .submit:hover{
    background-color: thistle;
    cursor: pointer;
}

.footer {
    width: 100%;
}

.footerWrapper {
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
}

.footerWrapper p{
    color: rgb(238, 235, 235);
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
}

.footerWrapper a {
    text-decoration: none;
    color:  #582874;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-size: 21px;
}






